<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>company</key>
	<string>Aleksey Garbarev</string>
	<key>configs</key>
	<dict>
		<key>cell</key>
		<dict>
			<key>path</key>
			<string>Presentation/UserStories</string>
		</dict>
		<key>fonts</key>
		<dict>
			<key>category_name</key>
			<string>UIFont+CustomFonts</string>
			<key>category_path</key>
			<string>Presentation/Common/Categories</string>
			<key>fonts_path</key>
			<string>Resources/Fonts</string>
			<key>prefix_methods</key>
			<false/>
		</dict>
		<key>mapping</key>
		<dict>
			<key>path</key>
			<string>BusinessLogic/Network/Mappings</string>
		</dict>
		<key>module</key>
		<dict>
			<key>common_interactors_path</key>
			<string>Presentation/Modules/Common/Interactors</string>
			<key>common_views_path</key>
			<string>Presentation/Modules/Common/Views</string>
			<key>modules_path</key>
			<string>Presentation/Modules</string>
			<key>stories_path</key>
			<string>Presentation/UserStories</string>
		</dict>
		<key>open_api</key>
		<dict>
			<key>prefix</key>
			<string>Net</string>
			<key>specs</key>
			<dict>
				<key>Main</key>
				<dict>
					<key>prefix</key>
					<string></string>
					<key>url</key>
					<string>api.yaml</string>
				</dict>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>path</key>
			<string>Network/Requests</string>
		</dict>
	</dict>
	<key>info_plist</key>
	<string>NightwavePlaza/Info.plist</string>
	<key>language</key>
	<string>swift</string>
	<key>plugins_url</key>
	<array>
		<string>https://github.com/alexgarbarev/gena-plugins.git</string>
	</array>
	<key>prefix</key>
	<string></string>
	<key>project_name</key>
	<string>NightwavePlaza</string>
	<key>project_target</key>
	<string>NightwavePlaza</string>
	<key>sources_dir</key>
	<string>NightwavePlaza</string>
	<key>test_target</key>
	<string>NightwavePlazaTests</string>
	<key>tests_dir</key>
	<string></string>
</dict>
</plist>
